{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Lista de Productos</title>
</head>
<div class="chat-render container">
    <div class="row">
        <h1 class="display-5 text-center mb-3">Casio Chat</h1>

        <div class="col-md-4 offset-md-4">
            <div class="mb-3">
                <label for="user" class="form-label">User</label>
                <input type="text" class="input-render form-control" id="user">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <input type="text" class="form-control" id="message">
            </div>
            <button type="button" class="btn btn-primary" id="btnSendMessage">Enviar</button>
        </div>
    </div>
</div>
<div class="container" id="mensaje1">
    <div class="row">
        <div class="col-md-4">
            <div id="messages" class="col-md-4"></div>
        </div>
    </div>
</div>


<script src="socket.io/socket.io.js"></script>
<script src="../public/js/chat.js"></script> --}}


{{!--
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Lista de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>


    <div id="newMessage" class="col-md-4"></div>
    <div class="container">
        <br>
        <div class="chat1">
            <h1 class=”"display-4 badge text-bg-primary">Enviar mensaje</h1>
            <br>
            <input id="nombre" for="user" class="form-control" id="user" placeholder="User o mail">
            <br>
            <textarea for="message" class="form-control" id="message" placeholder="Su mensaje aquí">
</textarea>
            <br>
            <button type="button" class="btn btn-success" id="btnSendMessage">Enviar</button>
        </div>

    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="../public/js/chat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html> --}}





</section>

</section>
<section id="listMessages">

</section>

<section class="send">
    <form>
        <input type="text" id="message" />
        <button id="btnEnviar">Send</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>