* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'fantasy', Courier, monospace;
  }
  
  body {
    background: rgb(70, 67, 67);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
  }
  
.chat-render{
  margin: 16px;
  padding: 100px;
  box-shadow: 7px 13px 37px #000;
}

  #list-products{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    
  }
  #container1 {
    position: relative;
    background-color: azure;
    border: #000;
    padding: 20px;
    margin: 3px
  } 
  
  .chat1{
    background-color: rgb(128, 153, 209);
    margin-left: 443px;
    padding: 33px;

  }
  
  #formProduct {
    width: 400px;
    background: #000001e7;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom:60px;
    border-radius: 4px;
    font-family: 'fantasy';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  #formProducth4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #d0cbd3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8e1fc5;
    font-family: 'fantasy';
    font-size: 18px;
    color: rgb(5, 4, 4);
  }
  .btn-comprar {
    color:#d0cbd3

  }
  
  #formProduct p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  #formProduct h2 {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  #formProduct a {
    color: white;
    text-decoration: none;
  }
  
  #formProduct a:hover {
    color: white;
    text-decoration: underline;
  }
  
  #formProduct .botons {
    width: 100%;
    background: #e39218e0;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .input-render{
    margin: 28px;
  }
#btnSendMessage{
  margin:40px;
}

#mensaje1{
  margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 500px;
	word-wrap: break-word;
}
#listMessages {
  background-color: azure;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 500px;
	word-wrap: break-word;
}

.send {
	margin-bottom: 100px;
}